doctype html
html
    head
        title= pageTitle
        link(rel='stylesheet', href='/stylesheets/style.css')
    body  
        h1 Welcome to #{pageTitle}
        form(action='/upload', method='post', enctype='multipart/form-data')
            p Wählen sie ein Bild:
            input#file(name='file', type='file', accept='image/*')
            br
            br
            input(name='Upload' value='Upload Picture' type='submit')