doctype html
html
    head
        title= pageTitle
    body
        script(type='text/javascript').
            var client = null;
 
            function uploadFile()
            {
                
                var file = document.getElementById("file").files[0];
                
                client = new XMLHttpRequest();
                if(!file){
                    alert('File leer');
                    return;
                    }
             
                client.onerror = function(e) {
                    alert("onError");
                };
             
                client.onabort = function(e) {
                    alert("Upload abgebrochen");
                };
                
                client.open("POST", "http://127.0.0.1:1337/upload");
                client.setRequestHeader("Content-type","image/jpeg");
                client.send(file);
            }
            
        h1 Welcome to MyPicture Upload
        form(action='', method='post', enctype='multipart/form-data')
            p Wählen sie ein Bild:
            input#file(name='file', type='file', accept='image/*')
            br
            br
            input(name='upload' value='Upload Picture' type='button' onclick='uploadFile();')
            